RewriteEngine On
# If in a subfolder, this still works because we rewrite to index.php in current dir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]